html,
body {
    font-family: "Convergence", sans-serif;
    padding: 0;
    margin: 0;
}

#root {
    height: 100vh;
}

* {
    box-sizing: border-box;
}

.joinOuterContainer {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100vh;
    align-items: center;
    background-image: url("https://images.unsplash.com/photo-1611606063065-ee7946f0787a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1934&q=80");
    background-repeat: no-repeat;
    background-size: auto;
}

.joinInnerContainer {
    width: 20%;
}

.mt-6 {
    margin-top: 20px;
}

.heading {
    color: white;
    font-size: 2.5em;
    padding-bottom: 10px;
}

.mt-20 {
    margin-top: 20px;
}

@media (min-width: 320px) and (max-width: 480px) {
    .joinOuterContainer {
        height: 100%;
    }

    .joinInnerContainer {
        width: 90%;
    }
}

.form::before,
.form::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.form {
    position: relative;
    width: 20rem;
    height: 3rem;
}

.form__input {
    margin-left: 20px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #e1e5ee;
    border-radius: 0.5rem;
    font-family: inherit;
    font-size: inherit;
    color: white;
    outline: none;
    padding: 1.25rem;
    background: none;
}

.form__input:hover {
    border-color: #adffff;
}

.form__label {
    position: absolute;
    margin-left: 30px;
    left: 1rem;
    top: 0.8rem;
    padding: 0 0.5rem;
    color: white;
    cursor: text;
    transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
    background-color: #012227;
}

.form__input:focus ~ .form__label,
.form__input:not(:placeholder-shown).form__input:not(:focus) ~ .form__label {
    top: -0.5rem;
    font-size: 0.8rem;
    left: 0.8rem;
}

button {
    font-weight: 600;
    border: solid 2px black;
    outline: 0;
    padding: 1rem 4rem;
    font-size: 1rem;
    letter-spacing: 0.08rem;
    background-color: white;
    border-radius: 0.35rem;
    position: relative;
    cursor: pointer;
}

button::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: pink;
    z-index: -1;
    border-radius: 0.35rem;
    border: solid 2px black;
    transition: all 0.3s ease-in-out;
}

.style-1::after {
    width: 90%;
    height: 90%;
}

.style-1:hover::after {
    width: 100%;
    height: 100%;
    top: 0.5rem;
    left: 0.5rem;
}
